$primary-font-color: black;
$alt-font-color: rgb(118, 54, 121);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-font-color;
  transition: all 0.3s;

  &:hover {
    color: $alt-font-color;
  }
}

.header {
  .header-wrapper {
    padding: 1.5rem;

    .header-nav-items {
      display: none;
      justify-content: space-around;

      a {
        margin: 0 0.5rem 0 0.5rem;
      }
    }

    .header-title {
      text-align: center;
      font-size: 2.4rem;

      a {
        font-family: 'Charm', cursive;
        font-weight: bold;
      }
    }

    .header-cart {
      display: flex;
      justify-content: flex-end;

      .snipcart-checkout {
        margin: 0 0.5rem 0 0.5rem;
        align-self: center;
      }

      .snipcart-summary {
        display: none;
        flex-flow: row wrap;
        margin: 0 0.5rem 0 0.5rem;

        span {
          width: 50%;
        }
      }
    }
  }
}
